:root {
  --accent-color: #2196f3;
  --color-black: #212121;
  --color-gray: #757575;
  --color-white: #ffffff;
  --color-blue: #2196f3;
  --bg-color-dark: #2f303a;
  --bg-color-blue: #2196f3;
  --bg-color-white: #ffffff;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}
.box {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  letter-spacing: 0.02em;
}
/* =================== header =========================== */
header {
  background: var(--bg-color-white);
}
header .link {
  letter-spacing: 0.02em;
}
.header-box {
  display: flex;
  padding: 24px 25px;
}
.header-flex {
  display: flex;
  margin-left: auto;
  align-items: center;
}
/* ==================== header logo ===================== */
.header-address + .header-address {
  margin-left: 50px;
}
.header-logo {
  margin-right: 93px;

  color: var(--color-blue);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
/* ==================== span header-logo ===================== */
.header-logo span {
  color: #000000;
}

/* ========================= Навигационные ссылки ===================== */
.header-item {
  display: flex;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}
.header-link {
  color: var(--color-black);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
/* ============================= current page ====================== */
.page {
  display: block;

  color: var(--color-blue);
}
/* ====================== header address ============================ */
.header-address {
  color: var(--color-gray);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
/* ==================== hover, focus в шапке ===================== */
.header-link:hover,
.header-link:focus,
.header-address:hover,
.header-address:focus {
  color: var(--accent-color);
}
/* ================== Эффективные решения для вашего бизнеса ================ */
.hero {
  background: var(--bg-color-dark);
}
.hero-box {
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--color-white);
  background: var(--bg-color-dark);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* =========================== Кнопка заказать услугу ============================= */
.hero-btn {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;

  color: var(--color-white);
  background-color: var(--bg-color-blue);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
}
/* ===== Внимание к деталям, Пунктуальность, Планирование, Современные технологии ====== */
.advantages-flex {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantages-item {
  width: 270px;
}
.advantages-item:not(:last-child) {
  margin-right: 30px;
}
.advantages-title {
  margin-bottom: 10px;

  color: var(--color-black);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.advantages-text {
  color: var(--color-gray);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
/* =============================== Чем мы занимаемся ======================================== */
.doing-flex {
  display: flex;
}
.doing-box {
  padding-bottom: 94px;
}
.doing-title {
  margin-bottom: 50px;
  color: var(--color-black);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.doing-item:not(:last-child) {
  margin-right: 30px;
}
.doing-img {
  display: block;
}
/* ==================================== Наша команда ====================================== */
.team-list {
  display: flex;
}
.team-box {
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-title {
  margin-bottom: 50px;

  color: var(--color-black);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.time-item:not(:last-child) {
  margin-right: 30px;
}
/* ========================================== Images ============================================== */
.team-img {
  margin-bottom: 30px;
}
/* ============ Игорь Демьяненко, Ольга Репина, Николай Тарасов, Михаил Ермаков=============================*/
.team-list-title {
  margin-bottom: 10px;

  color: var(--color-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/* =================== Product Designer, Frontend Developer, Marketing, UI Designer ==================*/
.team-text {
  color: var(--color-gray);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/* ========================= footer box ============================ */
.footer-box {
  margin: 0;
  padding-top: 60px;
  padding-bottom: 60px;
}
/* ===================== footer bg ========================= */
footer {
  background-color: var(--bg-color-dark);
}
/* ===================== footer-logo ========================= */
.footer-logo {
  display: block;
  margin-bottom: 20px;

  color: var(--color-blue);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.footer-logo span {
  color: var(--color-white);
}
/* ===================== footer address ========================= */
address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.address {
  display: block;
  margin-bottom: 9px;

  color: var(--color-white);
}
/* ===================== footer email tel ========================= */
.footer-address:not(:last-child) {
  margin-bottom: 9px;
}
.footer-address {
  display: block;
  color: rgba(255, 255, 255, 0.6);
}
